HELP.md


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
./target


### VS Code ###
.vscode/


# dependencies
url_exct_frontend/node_modules
./frontend/url_exct_frontend/.pnp
./frontend/url_exct_frontend/.pnp.js

# testing
./frontend/url_exct_frontend/coverage

# production
./frontend/url_exct_frontend/build

# misc
./frontend/url_exct_frontend/.DS_Store
./frontend/url_exct_frontend/.env.local
./frontend/url_exct_frontend/.env.development.local
./frontend/url_exct_frontend/.env.test.local
./frontend/url_exct_frontend/.env.production.local

./frontend/url_exct_frontend/npm-debug.log*
./frontend/url_exct_frontend/yarn-debug.log*
./frontend/url_exct_frontend/yarn-error.log*

# data
data

# target
target
